body {
    font-family:'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: #FFFFFF;
    color: #333;
    font-size:x-large;
}

form {
    display:flex;
    flex-direction:column;
    gap:10px;
    width: 94%;
    padding:20px;
    border:1px solid #0000;
    justify-items: center;
    flex-wrap:wrap;
    background-color:#37dbe0;
}

#RequestContainer {
    display:flex; 
    width: 97%;
    flex-direction:row;
    background-color:#850c0c;
    justify-content:center;
    margin:auto;
    margin-top: 0px;
    margin-bottom:0px;
    box-sizing:border-box;
    padding-bottom:0px;
}
#Request1,
#Request2 {
    width: 100%; /* Anpassen der Breite nach Bedarf */
    background-color:#1a79a5;
    padding:10px 20px 0px 5px;

}

#Request1 input,
#Request2 input {
    background-color:#67e037;
    width: 100%;
    height:28px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#RequestContainer2{
    display:flex; 
    width: 97%;
    flex-direction:row;
    background-color:#490505;
    justify-content:center;
    margin:auto;
    box-sizing:border-box;
    padding-top:0px;
}
#Request3{
    width: 100%; /* Anpassen der Breite nach Bedarf */
    background-color:#1a79a5;
    padding:10px 20px 0px 5px;
}
#Request3 input{
    background-color:#d88d1c;
    width: 100%;
    height:28px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
label{
    display:flexbox;
    margin-bottom:20px;
    background-color:#e0dd37;
}

select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color:#da37e0;
}

header {
    width:21cm;
    max-width:100%;
    background-color: #305A72;
    color: #E6F8FC;
    padding: 10px;
    text-align:center;
    font-size:28px;
    font-weight:bolder;
    border:7px solid #305A72;
    border-radius:10px 10px 0 0;
    margin-top:50px;

}

nav {
    width: 21cm;
    background-color: #2B87AC;
    color: #fff;
    padding: 10px;
    text-align:left;
    border:7px solid #305A72;
    border-bottom: none;
    font-size:x-large;
    
}

nav p{
    padding-left:30px;
    background-color:#642a18;
}


main {
    width:21cm;
    max-width:1200px;
    margin: 0px;
    padding:10px;
    border:7px solid #305A72;
    box-shadow:1 1px rgba(0,0,0,0.1);
    background-color:#fff;
    color:#333;
    border-top:none;
    border-radius:0 0 10px 10px;
    margin-bottom:100px;
}

section {
    margin-bottom: 20px;
    justify-content: center;
    background-color:#0d2883;
}

article {
    /*width:94%;*/
    padding: 10px;
    margin-bottom: 10px;
    margin:20px;
    margin-top:3px;
    font-size:x-large;
    background-color:aquamarine;
}

div {
    background-color:bisque;
    padding: 10px;
    margin-bottom: 10px;
    
}
button{
    background-color:#2B87AC;
    color:#fff;
    padding:10px;
    border: 10px;
    margin:30px;
    cursor:pointer;
    width:92%;
    justify-content:center;
    height:45px;
    font-size:large;
    border:5px solid #305A72;
    transition:transform 0.1s ease;
}

button:active{
    transform:translateY(2px);
}

main footer{
    background-color: #fff;
    color: #A5A5A5;
    padding: 10px;
    text-align: center;
    font-size:medium;
}
footer a{
    color:#A5A5A5;
    margin:0 20px;
}